.container{
    text-align:center;
    margin-top:23px;
}
table{
    margin: auto;
}
body{
    background-color: #000839;
}
*{
    color:#de7119;
}
#marquee{
    color:#c70039;
    font-size: 2rem;
    background-color:#e1ffc2;
}
input{
    border-radius: 21px;
    border: 5px solid #dd7631;
    font-size:34px;
    height: 75px;
    width: 490px;
}
button{
    border-radius: 20px;
    font-size: 40px;
    background: #eff3c6;
    width: 112px;
    height: 100px;
    margin: 6px;
}
.calculator{ 
    border: 4px solid #13695d;
    background-color: #ffe277;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}
h1{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}